<h1>Planned issues</h1>

<table class="table table-sm table-responsive table-hover">
    <thead>
        <tr>
            <th>Key</th>
            <th>Summary</th>
            <th>Reporter</th>
            <th>Assignee</th>
            <th>Status</th>
            <th>Estimate</th>
            <th>Spent</th>
            <th>Remaining</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let issue of issues">
            <td><a href="{{issue.externalUrl}}" target="_blank">{{issue.key}}</a></td>
            <td>{{issue.summary}}</td>
            <td>{{issue.reporter.displayName}}</td>
            <td>{{issue.assignee.displayName}}</td>
            <td>{{issue.status}}</td>
            <td>{{issue.timeTracking.originalEstimateText}}</td>
            <td>{{issue.timeTracking.spentTimeText}}</td>
            <td>{{issue.timeTracking.remainingTimeText}}</td>
        </tr>
    </tbody>
</table>